.header {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 20px;
}

@media (min-width: 480px) {
  .header {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  .header {
    font-size: 50px;
  }
}

div.header {
  width: 100%;
}

.album-content {
  width: 75%;
  text-align: center;
  margin: 0 auto;
}

.album-content img {
}

.tag {
  width: 100%;
  text-align: left;
  padding-bottom: 10px;
}
