<div class="float-member">
    <ul class="float-member">
      <a href="yeri.html"><img class="img-circle float-member" src="img/yerm.jpg" alt="Yeri"></a>
      <a href="joy.html"><img class="img-circle float-member" src="img/joy.jpg" alt="Joy"></a>
      <a href="wendy.html"><img class="img-circle float-member" src="img/wan.jpg" alt="Wendy"></a>
      <a href="seulgi.html"><img class="img-circle float-member" src="img/slg.jpg" alt="Seulgi"></a>
      <a href="irene.html"><img class="img-circle float-member" src="img/bir.jpg" alt="Irene"></a>
    </ul>
</div>
